body, html {
    margin: 0;
    padding: 0;
}
  
  .App {
    text-align: center;
  }
  
  .AddTestFields {
    padding-top: 80px;
    margin-left: 5%;
    display: flex;
    gap: 20px; /* This will add space between your form controls */
    padding-bottom: 40px;
  }
  
  .autocomplete-container {
    width: 250px;
    max-height: 57px; /* Adjust as needed */
    overflow-y: auto;
}

.name-input-container {
  max-height: 57px; /* Adjust as needed */
}

  .actionButtons {
    margin-top: 50px;
    margin-left: 5%; /* 5% margin from the left */
    display: flex; /* Aligns children inline */
    gap: 30px; /* 20px gap between each button */
    margin-bottom: 250px;
  }
  
  .footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .footer a {
    color: #9ccef8; /* Light blue link color */
    text-decoration: none;
    margin: 10px;
  }

  .tableContainer {
    margin-left: 5%;
    margin-top: 30px;
  }
  
  .prev-test {
    margin-top: 10px;
    margin-left: 20px;
  }

  .switchButton-TestDetail {
    margin-left: 5%;
    margin-bottom: 10px;
  }
