body.purple-page {
  background-color: white; /* Ensure the entire page background is purple */
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the body covers the full height */
  font-family: 'Cascadia Code', monospace;
}

  .projectSelector {
    margin-top: 150px;
    margin-left: 10%;
    display: flex;
    padding-bottom: 20px;
  }
  

/*.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedEnd.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  color: white; 
  background-color: #280543;
}*/

/*.white-icon-page .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.MuiSelect-iconFilled.MuiSelect-iconOpen.css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
  color: white;
}

.white-icon-page .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.MuiSelect-iconFilled.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: white;
}
*/