.homepage-container {
    background-color: #22023A;
    margin: 0;
    padding: 0;
    font-family: 'Cascadia Code', monospace;
    height: 100vh; /* Ensure it covers the full viewport height */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 20px;
  }
  
  .header-section {
    flex: 1; /* Assign equal weight to all sections */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-section:first-child {
    justify-content: flex-start;
  }
  
  .header-section:last-child {
    justify-content: flex-end;
  }

.header-title {
  flex-direction: column; /* If you want to stack other items in the center section */
  justify-content: center; /* Center the title section */
}

/* Now you can adjust the font size and weight of the title as needed */
.header-title > div {
  font-size: 20px; /* Example size */
}

.title-logo-container {
    display: flex;
    align-items: center;
  }

  .userProfile {
    cursor: pointer;
  }
  
  .userIcon {
    /* Use your previously defined styles or adjust as needed */
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
  }

  .projectSelector {
    padding-top: 70px;
    margin-left: 5%;
    display: flex;
    padding-bottom: 20px;
  }
  
  .homeButtons {
    margin-left: 0%;
    margin-top: 40px;
    display: flex; /* Aligns children inline */
    justify-content: center; /* Centers the items horizontally */
    gap: 50px; /* 20px gap between each button */
}
