.switchButton {
  margin-top: 70px;
  margin-left: 5%;
  display: flex;
  gap: 15px;
}

.pie-chart {
  padding-top: 60px;
  margin-left: 5%;
}

.groupAndDate {
    padding-top: 30px;
    margin-left: 5%;
    display: flex;
    padding-bottom: 20px;
    gap: 15px;
  }

  .tableContainer {
    margin-left: 5%;
    margin-right: 30%;
    max-width: 800px;
  }

  .paginationControls {
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 100px;
}
