body, html {
    margin: 0;
    padding: 0;
}
  
  .App {
    text-align: center;
  }
  
  .dateSelector {
    padding-top: 230px;
    display: flex;
    padding-bottom: 20px;
  }
  
  .tableContainerGroups {
    margin-left: 7%;
  }

.createGroup {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex; /* Aligns children inline */
    gap: 30px; /* 20px gap between each button */
  }

  .create-edit-group-footer {
    margin-left: 7%;
    margin-top: 20px;
    margin-bottom: 100px;
  }

  .inputs-container {
    display: flex;
    align-items: center;
    position: relative;
    gap: 15px; /* Ensures a gap between grey-container and close-button */
    margin-top: 10px;
    margin-bottom: 10px;
  }

.grey-container {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 0;
    gap: 20px; /* Ensures a 20px gap between input fields */
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.3)
}

.button-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 10px 5px 0px;
}

.button-stack > button {
    margin: 2px 0;
}

.close-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
