.switchButton {
  padding-top: 130px;
  margin-left: 5%;
  display: flex;
  padding-bottom: 20px;
  gap: 15px;
}

.groupAndDate {
    padding-top: 30px;
    margin-left: 5%;
    display: flex;
    padding-bottom: 20px;
    gap: 15px;
  }

  .tableContainer {
    margin-left: 5%;
    margin-right: 30%;
    max-width: 800px;
  }

  .paginationControls {
    margin-left: 5%;
    margin-top: 20px;
}
